// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary (Verde Neón de Figma) **/
  --ion-color-primary: #00ff73;
  --ion-color-primary-rgb: 0,255,115;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #00e065;
  --ion-color-primary-tint: #1aff81;

  /** secondary (Naranja para detalles como "Conexión Offline") **/
  --ion-color-secondary: #ff6b35;
  --ion-color-secondary-rgb: 255,107,53;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #e05e2f;
  --ion-color-secondary-tint: #ff7a49;

  /** Forzar Tema Oscuro por defecto **/
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18,18,18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;
  --ion-card-background: #1e1e1e;
}
