<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rutinas" href="/tabs/rutinas">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Rutinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa" href="/tabs/mapa">
      <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="progreso" href="/tabs/progreso">
      <ion-icon aria-hidden="true" name="trending-up-outline"></ion-icon>
      <ion-label>Progreso</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
